.stats{
	margin-left: 10%;
}

.bar{
	height: 1.5em;
	width: 40%;
	background-color: rgba(202, 232, 241, 0.76);
	border-radius: 20px;
	border-style: ridge;
	border-color: rgb(172, 177, 182);
	margin-bottom: 4%;
}

.barMeterHalf{
	height: 100%;
	width:5%;
	background-color: rgb(112, 4, 94);
	border-radius: 20px;
	text-align: right;
}

.barMeterQuarter{
	height: 100%;
	width:5%;
	background-color: aqua;
	border-radius: 20px;
	text-align: right;
}

.barMeterQuarter > span{
	color: white;
	font-weight: bold;
	margin-right: 5%;
}

.barMeterFull > span{
	color: white;
	font-weight: bold;
	margin-right: 5%;	
}

.barMeterHalf > span{
	color: white;
	font-weight: bold;
	margin-right: 5%;	
}

.barMeterFull{
	height: 100%;
	width:5%;
	background-color: rgb(0, 255, 98);
	border-radius: 20px;
	text-align: right;
}

h4{
	margin: 0;
}