@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)
{
    .alignInBox {
        flex: 1 1 auto !important;
    }

    .alignImgContent{
        flex: 1 1 auto !important;
    }

    .alignTextContent{
        flex: 1 1 auto !important;
    }

    .alignContentPerson{
        flex: 1 1 auto !important;
        width: 100%;
    }

    .grid-row{
        width: 100%;
        height: 60%;
    }

    .grid-content{
        width: 100%;
        height: 70%;
    }
    
    .alignKontakt{
        flex: 1 1 auto !important;
    }
}



html, body
{
    /* Välj en font. */
    font-family: Arial;
    /* Gör så att det inte finns något avstånd till hemsidans topp.*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    
}

@font-face{
    font-family: "rob";
    src: url("../fonts/Roboto-Bold.ttf");
    font-style:normal;
}


h1{
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0; 
 }
 
 p{
     margin-right: 0;
     margin-left: 0;
     margin-bottom: 0;
     margin-top: 0; 
  }




#iframeContainer{
    height: 100%;
    width: 100%;
    float: left;
  }

.teamMemberText{
    display: grid;
    grid-template-columns: minmax(50%, 100%);
    font-size: 1.2em;
  
    color:black;
    padding: 10%;
}

header{
    height: 30%;
    width: 100%;
}

.imgRadius{
    border-radius: 5%;
}
#mainOmOssContact{
    width: 60%;
    height: auto;
    margin: auto;
    position: relative;
    top: -12%;
    background-color: rgb(59, 131, 190);
    padding: 4%;
    font-size: 1.4em;
    color: white;
    margin-bottom: 8%;
}

#portfolioMain{ 
    width: 60%;
    height: auto;
    margin: auto;
    position: relative;
    top: -6%;
    background-color: rgb(59, 131, 190);
    padding: 4%;
    font-size: 1.4em;
    color: white;
    margin-bottom: 8%;
}



#headertextForKontakt{
    font-family: rob!important;
    font-size: 2.2em;
    font-weight: bold;
    color: white;
    position: relative;
    top: 35%;
}



#mainOmOss{
    width: 65%;
    height: auto;
    margin: auto;
    position: relative;
    bottom: 20%;
    background-color: white;
    margin-bottom: 8%;
}

#mainOmOssContact > h2 >span {
    font-weight: bold;
    color: rgb(16, 76, 206);
}


figure{
    margin: 0;
    color: black;
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

/* Denna div placeras under bilden så man kan sätta in text. */

.imageContainer{
    width: 100%;
    height: auto;
}

#formContainer{
    border-radius: 0.2em;
    height: auto;
    background-color:  rgb(66, 92, 114);
    width: 100%;
}

#mainContact{
    width: 100%;
    height: 100%;
}

#formContainer h1{ 
    padding: 2%;
    color: white;
    margin-left: 20px;
}

#formContainer  p{
    color: black;
    margin-left: 20px;
}

#fieldsetKontaktuppgifter{
    border-style: none;
    text-align: start;
}

.inputContainer{
    margin-top: 20px;
    margin-bottom: 20px;
}

textarea{
    width: 40%;
    height: 12em;
}

#formButton{
    width: 30%;
    height: 3.5em;
    margin-left: 15px;
    margin-bottom: 25px;
    color: rgb(59, 131, 190);
    font-weight: bold;
    font-size: 1.1em;
   
}

label{
    font-weight:bold;
    color: #fafafa;
}

.redLabel{
    color: rgb(187, 60, 60);
}


/*SKa vi ta bort eller lägga till?*/
.redBorder{
    border-style: solid;
    border-color: red;
    border-width: 2px;
    border-radius: 0.2em;
    width: 70%;
    height: 3em;
}

/*SKa vi ta bort eller lägga till?*/
.redBorderForTextarea{
    border-style: solid;
    border-color: red;
    border-width: 2px;
    border-radius: 0.2em;
    width: 70%;
    height: 10em;
}

#firstNameInfo, #lastNameInfo, #mailInfo, #phoneNumberInfo, #commentInfo{
    font-size: 0.7em;
}

iframe{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
}

/* Widescreen size */
@media screen and (min-width: 768px)
{
    #headertextForPortfolio{
        font-family: rob!important;
        font-size: 2.2em;
        font-weight: bold;
        color: white;
        position: relative;
        top: 22%; 
    }
/* Är inte detta en kopia?*/
    #headertextForKontakt{
        font-size: 2.2em;
        font-weight: bold;
        color: white;
        position: relative;
        top: 22%; 
    }

    #omOssHeading{
        font-family: rob!important;
        font-size: 2.2em;
        font-weight: bold;
        color: white;
        position: relative;
        top: 22%;  
    }

    h1{
        margin: 0; 
    }
    /* Varför float left*/
    .imageContainer{
        float: left;
    }

    #fieldsetKontaktuppgifter{
        border-style: none;
        text-align: start;
    }
    
    .inputContainer{
        margin-top: 20px;
        margin-bottom: 20px; 
    }
 
    #formButton{
        width: 30%;
        height: 3.5em;
        margin-left: 15px;
        margin-bottom: 25px;
    }
/*Ska vi ta bort? kopplad till rött runt om*/
    .regularFormBorder{
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 2px;
        border-radius: 0.2em;
        width: 70%;
        height: 3em;
    }
/*Ska vi ta bort? kopplad till rött runt om fast svart*/
    .regularFormTextareaWithBorder{
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 2px;
        border-radius: 0.2em;
        width: 70%;
        height: 12em;
    }
    
    #contactFormHeader{
        margin: 0;
    }
}

    #leftColor{
        background-color: rgb(142, 192, 233);
        color: white;
        text-align: center;
        padding-bottom: 5%;
        font-size: 1.4em;
        font-weight: bold;
    }

    #rightColor{
        background-color: rgb(59, 131, 190);
        color: white;
        text-align: center;
        padding-bottom: 5%;
        font-size: 1.4em;
        font-weight: bold;
    }

    .alignContentPerson{
        flex-basis: 40%;
        padding: 10px;
        box-sizing: border-box;
    }

    /* Båda bilderna i OmOss placeras med 50% flex-basis, dvs tar upp 50% var på vardera sida av sin div. */
    .alignImgContent{
        flex-basis:100%;
        box-sizing: border-box;
        padding: 5%;
        width: 100%;
        height: 100%;
    }

    /* Placera texten på OmOss så att den tar upp 100% width. */
    .alignTextContent{
        flex-basis:50%;
        position: relative;
        padding: 15px;
        box-sizing: border-box;
    }

    /* Placerar texten i boxen i OmOss. */
    .alignInBox{
        height: auto;
        width: 100%;
        border-radius: 2%;
    }

    .alignKontakt{
        flex-basis: 100%;
        position: relative;
        padding: 10px;
        box-sizing: border-box;
    }
    
    .grid-row {
      display: flex;
      justify-content: center;
    }
    
    .grid-content {
      flex-basis: 20%;
      position: relative;
      padding: 10px;
      box-sizing: border-box;
    }
    
    .grid-items-content
    {
      height: 100%;
      width: 100%;
      border-radius: 2%;
    }

    #mainOmOssContact {
        
        margin-top: 10%;
    }

   
    
    @media(max-width: 1300px)
    {
      .grid-content{
        flex-basis: 25%;
      }
    }
    
    @media(max-width: 815px) 
    {
        .alignKontakt{
            flex-direction: column;
        }

        .alignContentPerson{
            flex-basis: 100%;
        }

        .grid-content
        {
            flex-basis: 75%;
        }
    }
    
    @media(max-width: 555px) 
    {

        #portfolioMain{
            width: 60%;
            height: auto;
            margin: auto;
            position: relative;
            bottom: 20%;
            background-color: rgb(59, 131, 190);
            padding: 4%;
            font-size: 1.9em;
            color: white;
            margin-bottom: 8%;
            text-align: center;
         }

        .grid-row {
            flex-direction: column;
        }
    }
    /*Finns bara för en person?? ska det bort*/
  .rectangles-personligaSidan{
    margin: 0 auto;
    display: grid;
    width: 100%;
    height: auto;
    grid-gap: 5rem;
  }

 .boxShadow3
 {
    box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);
    border-radius: 10px;
}

 .imageContainer{ 
    width: auto;
    padding: 10%;
}

 .imageContainer:hover{
    overflow: hidden
 }

 img
 {
    height: auto;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 100%;
 }

 .imgPersonalPage{
        border-radius: 20%;
    }

  .headingForIndividualProject{
    visibility: hidden;
    font-size: 1.6em;
    font-weight: bold;
    color: white;

 }
 .subHeadingForIndividualProject{
    visibility: hidden;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
 }

 .descriptionForIndividualProject{
    visibility: hidden;
    font-size: 1.2em;
    color: white;
 }

 .notVisible{
    visibility: hidden;
 }

 .visible{
    visibility: visible;
 }

 /*Portfolio specific id and classes*/


 #portfolioMain > a{
    text-decoration: none;
    color: rgb(68, 46, 192);
    font-weight: bold;
    line-height: 1.8em;
 }

 #portfolioMain > a:hover{
    color: white;
 }
 
 .projectHeader{
    font-size: 1.6em;
    font-weight: bold;
    color: black;
    text-align: center;
 }


 /*  Id:s for the diffrent projects represented on the portfolio site*/
 #interActiveDesign{
    background-image: url("../img/projects.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
 }

 #dataVisualizer{
    background-image: url("../img/projects.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
 }

 #collision{
    background-image: url("../img/projects.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
 }

 #inDev
 {
    background-image: url("../img/inDevImg.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    margin-bottom: 10%;
    text-align: center;
 
 }

 #headerForPortfolio{
    font-size: 2.4em;
    width: 80%;
    display: flex;
    color: white;
    height: 50%;
    align-items: center;   
 }

/* Person site*/

#headertextForPerson{
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    margin-left: 0;
    color: white;
    font-size: 1.3em;
}


/* mobil? */
@media screen and (min-width: 768px)
{
    header{
        height: 50%;
    }
}
@media screen and (max-width: 1300px)
{
    #iframeContainer{
        height: 50vh;
    }
}

@media screen and (max-width: 768px)
{
    #mainContact{
        margin-top: 15%;
    }
    
    #mainOmOss{
        position: relative;
        top: 4%;
        width: 100%;
        margin-bottom: 0%;    
    }

    .boxShadow3{
        box-shadow: 2px 4px 24px -4px rgba(255, 255, 255, 0.75);
    }

    #omOssHeading{
        width: 70%;
        font-size: 1.2em;
        position: relative;
        top: 50%;
        text-align: center;
        display: inline-block;
        color: white;
    }

    #portfolioMain{
        width: 90%;
        margin-top: 2%;
        height: 40vh;
        background-color: rgb(59, 131, 190);
        font-weight: normal;
        padding: 2%;
        font-size: 0.8em;
        color: rgb(224, 227, 231);
        position: relative;
        top: 6%;
    }

    #headertextForPortfolio{
        width: 70%;
        font-size: 1.4em;
        position: relative;
        top: 50%;
        text-align: center;
        display: inline-block;
        color: white;
    }

    #finishedProjects{
        width: 60%;
        position: relative;
        top:10%;
    }

    #finishedProjects > h2{
     font-size: 1.2em;
     margin-bottom: 50%;
    }

      #formContainer{
          width: 100%;
      }
    /* Ta bort?*/
      .redBorder{
          width: 90%;
      }
/* Ta bort?*/
      .regularFormBorder{
        width: 90%;
        height: 2em;
    }
/* Ta bort?*/
    .regularFormTextareaWithBorder{
        width: 90%;
        height: 12em;
    }

    #iframeContainer
    {
        height: 90vh;
        margin-bottom: 0;
    }
/* Ta bort?*/
    .redBorderForTextarea{
        width: 90%;
        height: 12em;
    }


    #mainOmOssContact{
        width: 90%;
        margin-top: 2%;
        height: auto;
        background-color: rgb(59, 131, 190);
        font-weight: normal;
        padding: 2%;
        font-size: 0.8em;
        color: rgb(224, 227, 231);
        margin-bottom: 8%;
        position: relative;
        top: 6%;
    }
    
    #mainOmOssContact > h2 >span {
        font-weight: bold;
        color:rgb(16, 76, 206);
    }

    #mainOmOssContact{
        box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);
        border-radius: 10px;    
    }

    #formButton{
        width:auto;
    }
 
#finishedProjects{
    text-align: center;
    width: 100%;
    margin-left: 0;
}
#finishedProjects > h2{
    margin-bottom: 30%;
}

#notFinishedProjects{
    text-align: center;
    width: 100%;
    margin-left: 0;
}

#headertextForPerson{
    display: flex;
    position: relative;
    right: 6%;
}
}

   /*tilted big screen*/
@media (max-height: 400px) and (max-width: 900px){

   #omOssHeading{
        position: relative;
        top: 36% !important;
        font-size: 1.4em;
        position: relative;
        top: 29%;
        margin-left: 4%;
    }

    nav{height:20%;
    }
    
    header{height: 60vh
    }

    #mainContact{
        margin-top: 10%;
    }

     #mainOmOss{
        width: 100%;
        position: static;
    }

    .menu{
        margin-right: 13%;
        z-index: 1;
    }

    #portfolioMain{
        position: static;
        width:90%;
    }

    #headertextForPortfolio{
        font-size: 1.4em;
        position: relative;
        top: 29%;
        width: min-content;
        margin-left: -14%
    }

    #omOssHeading{
        font-size: 1.4em;
        position: relative;
        top: 29%;
        margin-left: 4%;
    }

    #mainOmOssContact{
        position: static;
        width:90%;
    }

    #headertextForKontakt{
        font-size: 1.4em;
        position: relative;
        top: 29%;
        margin-left: 4%;
    }

    #iframeContainer{
        height: 90vh;
    }
    /*Ta bort*/
    .redBorder{
        width: 90%;
        height: 4em;
    }
   /*Ta bort*/
    .regularFormBorder{
        width: 90%;
        height: 4em;
    }
   /*Ta bort*/
    .regularFormTextareaWithBorder{
        width: 90%;
    } 

    #headertextForPerson{
        display: inline-block;
        position: static;
    }
}