/* Mobile size */

html, body
{
    /* Välj en font. */
    font-family: Arial;
    /* Gör så att det inte finns något avstånd till hemsidans topp.*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    
}


#headertextForKontakt{
    font-size: 2.2em;
    font-weight: bold;
    color: white;
    position: relative;
    top: 35%;
}


#iframeContainer{
    height: 100%;
    width: 100%;
    float: left;
  }

.teamMemberText{
    display: grid;
    grid-template-columns: minmax(50%, 100%);
    font-size: 1.2em;
  
    color:black;
    padding: 10%;
}

header{
    height: 30%;
    width: 100%;
}

.imgRadius{
    border-radius: 5%;
}
#mainOmOssContact{
    width: 60%;
    height: auto;
    margin: auto;
    position: relative;
    bottom: 20%;
    background-color: steelblue;
    padding: 4%;
    font-size: 1em;
    color: white;
    margin-bottom: 8%;
}


#mainOmOss{
    width: 70%;
    height: auto;
    margin: auto;
    position: relative;
    bottom: 20%;
    background-color: white;
    margin-bottom: 8%;
}

#mainOmOssContact > h2 >span {
    font-weight: bold;
    color: rgb(16, 76, 206);
}


figure{
    margin: 0;
    color: black;
    text-align: center;
    font-weight: bold;
}

section{
    margin: 0;
}

h1{
   margin-right: 0;
   margin-left: 0;
   margin-bottom: 0;
   margin-top: 0; 
}

p{
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0; 
 }





#rightContentForUs{
    float:left;
    width: 50%;
    height: auto;
    margin-top: 1%;
    padding: 2%;
}


/* Denna div placeras under bilden så man kan sätta in text. */


.textAreaIMG-Portfolio{
    position: relative;
    text-align: center;
}

canvas {
    width: 90%;
    min-height: 200px;
    border: solid 2px red;
}

.imageContainer{
    width: 100%;
    height: auto;
}

.imgStartsida{
    border-radius: 10%;
    align-items: center;
    width: 60%;
    height: 60%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    float:top;
}

#startSidaOmOssContainer{
    text-align: center;
    width: 80%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 0.2em;
    margin-bottom: 10%;
}

#startSidaPortContainer{
    text-align: center;
    width: 80%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 0.2em;
    margin-bottom: 10%;
}

#startSidaKontaktContainer{
    text-align: center;
    width: 80%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 0.2em;
    margin-bottom: 10%;
}
   
#formContainer{
    border-radius: 0.2em;
    height: auto;
    background-color: rgb(188, 214, 248);
}

#mainContact{
    margin-bottom: 0;
    width: 100%;
    height: 100%;
}

#formContainer h1{ 
    color: white;
    margin-left: 20px;
}

#formContainer  p{
    color: black;
    margin-left: 20px;
}

#fieldsetKontaktuppgifter{
    border-style: none;
    text-align: start;
}

.inputContainer{
    margin-top: 20px;
    margin-bottom: 20px;
}

textarea{
    width: 40%;
    height: 12em;
}

#formButton{
    width: 30%;
    height: 3.5em;
    margin-left: 15px;
    margin-bottom: 25px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
   
}

.inputForContact{
    width: 40%;
    height: 2em;
}

label{
    font-weight:bold;
    color: #1c4966;
}

.redLabel{
    color: red;
}

.redBorder{
    border-style: solid;
    border-color: red;
    border-width: 2px;
    border-radius: 0.2em;
    width: 70%;
    height: 3em;
}

.redBorderForTextarea{
    border-style: solid;
    border-color: red;
    border-width: 2px;
    border-radius: 0.2em;
    width: 70%;
    height: 10em;
}

#firstNameInfo, #lastNameInfo, #mailInfo, #phoneNumberInfo, #commentInfo{
    font-size: 0.7em;
}

.ready{
    background-color: #1c4966;
}

.notReady{
    background-color:  #344652;
}

#mainContact{
    
    width:100%;
    height: 100%;
}


iframe{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
}


/* Widescreen size */
@media screen and (min-width: 768px)
{

    #headertextForPortfolio{
        font-size: 2.2em;
        font-weight: bold;
        color: white;
        position: relative;
        top: 35%;
       
    }

    #omOssHeading{
        font-size: 2.2em;
        font-weight: bold;
        color: white;
        position: relative;
        top: 35%;
       
    }

   
    #visitUs{
        font-size: 2.8em;
        color: teal;
        border-radius: 2%;
        margin-left: 15%;
    }

    h1{
        margin: 0; 
    }

    .imageContainer{
        float: left;
    }

    .bildIstartSidoContainer{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
    }
    
    #startSidaOmOssContainer{
        float: left;
        width: 25%;
        height: min-content;
        margin-left: 2%;
        margin-right: 2%;
    }

    #startSidaPortContainer{
        float: left;
        width: 25%;
        height: min-content;
        margin-left: 2%;
        margin-right: 2%;     
    }

    #startSidaKontaktContainer{
        float: left;
        width: 25%;
        height: min-content;
        margin-left: 2%;
        margin-right: 2%;
    }
    
    #formContainer h1{
        color:  #1c4966;
        margin-left: 20px;
    }
    
    .regulareTextForInput{
        color: black; 
        font-weight: bold;
    }
    
    #fieldsetKontaktuppgifter{
        border-style: none;
        text-align: start;
    }
    
    .inputContainer{
        margin-top: 20px;
        margin-bottom: 20px; 
        

    }
    
    textarea{
        width: 80%;
        height: 8.5em;
        
    }
    
    #formButton{
        width: 30%;
        height: 3.5em;
        margin-left: 15px;
        margin-bottom: 25px;
    }

    .regularFormBorder{
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 2px;
        border-radius: 0.2em;
        width: 70%;
        height: 3em;
    }

    .regularFormTextareaWithBorder{
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 2px;
        border-radius: 0.2em;
        width: 70%;
        height: 12em;
    }
    
    #contactFormHeader{
        margin: 0;
    }


}

.rectangle-grid-startsida {
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 5%;
    height: 20rem;
    border-radius: 9px;
    justify-content: center;
    color:black;
  }

  .rectangle-grid-portfolio{
    background-color: rgb(11, 111, 192);
    color: white;
    padding: 3%;
    height: 95%;
    width: 90%;
    border-radius: 9px;
    justify-content: center;
    margin-left: auto;    
    -webkit-box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);

  }

  .rectangle-grid-personligaSidan{
    background-color: rgb(255, 255, 255);
    height: 95%;
    width: 100%;
    border-radius: 9px;
    justify-content: center;
    grid-gap: 7rem;
  }

  .rectangle-grid-kontakt{
    background-color: rgb(255, 255, 255);
    border-radius: 9px;
    justify-content: center;
    grid-gap: 7rem;
  }

  .rectangle-grid-omoss1{
    color: white;
    height: 100%;
    width: 50%;
    border-radius: 9px;
    margin: auto;
  }


  .rectangle-grid-omoss2{
    color: white;
    height: 100%;
    width: 100%;
    margin-top: 10%;
  }


  #rightTextOmOss{
    background-color: steelblue;
    border-radius: right;
    text-align: center;
    padding-bottom: 5%;
    font-size: 1.2em;
  }

  #leftTextOmOss{
    background-color: rgb(142, 192, 233);  
    border-radius: left;
    text-align: center;
    padding-bottom: 5%;
    font-size: 1.2em;
  }


    .rectangle-grid-startsida:hover{
        transform: scale(1.01);
    }

    .rectangle-grid-portfolio:hover{
        transform: scale(1.01);
    }
  
    .rectangles {
        max-width: 1800px;
        margin: 0 auto;
        display: grid;
        grid-gap: 5rem;
    }

  .rectangles-omoss {
    margin: 0 auto;
    display: grid;
    width: 100%;
    height: auto;
  }

  .rectangles-personligaSidan {
    margin: 0 auto;
    display: grid;
    width: 100%;
    height: auto;
    grid-gap: 5rem;
  }

  .rectangles-kontakt {
    display: grid;
    height: auto;
    grid-gap: 2rem;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 10%;
  }

#h1portfolio{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
 }

 .boxShadow 
 {
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
 }

 .boxShadow2
  {
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    width: 280px;
    height: 500px;
}

 .boxShadow3
 {
    -webkit-box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);
    border-radius: 10px;
}

 /* Denna div placeras under bilden så man kan sätta in text. */

 /* Denna div centrerar allt innehåll till mitten av skärmen. */
 .center{
   display: flex;
    width: 74%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15%;
    background-color: white;
    -webkit-box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);
    border-radius: 10px;
}



 .imageContainer{
    
    width: auto;
    padding: 10%;
}

 .imageContainer:hover{
    overflow: hidden
 }



 img
 {
    height: auto;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 100%;
 }


 /* Denna tag ska användas ifall man vill centrera bild i en så kallad grid box. Den  */
 .img2{
    border-radius: 20%;
    align-items: center;
    height:80%;
    width: 80%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    float:top;
    margin-top: 0;
 }

    .imgPersonalPage
    {
        border-radius: 20%;
        height:100%;
        width:100%;
    }


 .img4{
    align-items: center;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    float:top;
    border-radius: 6px;
    
 }

 .fadedBackground
 {
    background: linear-gradient(to right, #6fcef3, #0fa6ec);
 }

 .circle{
    background-color: gray;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    padding: 10px 5px 0 5px;
 }

 
   #rightContactInfo{
       width: 50.1%;
       height: 90%;
       background-color: rgba(223, 230, 230, 0.678);
       float: right;
       margin-top: 0;
       border-left: 1.2em solid rgb(188, 214, 248);
       
   }
   
   #leftContactInfo{
    width: 49%;
    height: 100%;
    background-color: rgba(223, 230, 230, 0.678);
    float: left;
    margin-top: 0;
    border-right: 1.2em solid rgb(188, 214, 248);
    clear: left;
    
    
 }


   #subHeadingContact{
       display: none;
       font-size: 4.5em;
       font-weight: bolder;
       color: rgb(98, 149, 214);
       margin-left: 14%;
       margin-top: 6%;
   }

   #subHeadingContact2{
    display: none;
    font-size: 4.5em;
    font-weight: bolder;
    color: rgb(98, 149, 214);
    margin-left: 14%;
    margin-top: 6%;
 }

  #portfolioBackground{
    width: 100%;
    height: 20%;
    background-image: url("../img/BakgrundPortfolio.jpg");
    background-repeat: no-repeat;
 }



 #subtextForPortfolio{
    width: 50%;
    height: auto;
    font-size: 1.5em;
    color: white;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 2%;
    text-align: left;

 }

 .rectangle-grid-portfolio:hover{
    background-color: teal;
 }

  .headingForIndividualProject{
    visibility: hidden;
    font-size: 1.6em;
    font-weight: bold;
    color: white;

 }

 .subHeadingForIndividualProject{
    visibility: hidden;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
 }

 .descriptionForIndividualProject{
    visibility: hidden;
    font-size: 1.2em;
    color: white;
 }

 .notVisible{
    visibility: hidden;
 }

 .visible{
    visibility: visible;
 }

 /*Portfolio specific id and classes*/

 #portfolioMain{
    width: 60%;
    height: auto;
    margin: auto;
    position: relative;
    bottom: 20%;
    background-color: steelblue;
    padding: 4%;
    font-size: 1em;
    color: white;
    margin-bottom: 8%;
 }

 #notFinishedProjects{
    margin-top: 10%;
    margin-bottom: 4%;
    font-size: 1.8em;
    font-weight: bold;
    margin-left: 3%;
    color: black;
 }

 #finishedProjects{
    margin-top: 1%;
    margin-bottom: 4%;
    font-size: 1.6em;
    font-weight: bold;
    margin-left: 3%;
    color: black;
 }


 /*  Id:s for the diffrent projects represented on the portfolio site*/
 #sortingVisualizer{
    background-image: url("../img/sortingvisualizer.PNG");
    background-size: cover;
    background-repeat: no-repeat;
 }

 #interActiveDesign{
    background-image: url("../img/cykelApp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
 }

 #sparKoll{
    background-image: url("../img/sparkollen.PNG");
    background-size: cover;
    background-repeat: no-repeat;
 }

 #dataVisualizer{
    background-image: url("../img/dataVi.png");
    background-size: cover;
    background-repeat: no-repeat;
 }

 #collision{
    background-image: url("../img/88412527-06457000-cdda-11ea-9f01-a69bc80b391c.png");
    background-size: cover;
    background-repeat: no-repeat;
 }

 #inDev{
    background-image: url("../img/inDevImg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 3%;
 }

  
 #upperWrapperCenterOmOss
 {
    
    text-align: center;
    font-weight: bold;
    width: 100%;
    height: auto;
    margin-bottom: 3%;
    margin-top: 3px;
 }

 .centerOmOss{
    width: 60%;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    -webkit-box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);
    border-radius: 10px;
    margin-bottom: 0;
    
 }

 #underWrapperCenterOmOss
 {
    height: 60%;
    -webkit-box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);
    border-radius: 10px;
 }

  #rightSideunderWrapperCenterOmOss{
 float: left;
 width:50%;
 height: 100%;
 background-color: #1c4966;
    border-radius: 10px;
 }

 #leftSideunderWrapperCenterOmOss{
    float: left;
    width: 50%;
    height: 100%;
    background-color: rgb(224, 222, 217);
    border-radius: 10px;
 }

 #headerForPortfolio{
    font-size: 2.4em;
    width: 80%;
    display: flex;
    color: white;
    height: 50%;
    align-items: center;   
 }


 #leftSideunderWrapperCenterOmOssText{
    display: inline-block;
    width: 90%;
    height: auto;
    padding: 4%;
 }

 #leftSideunderWrapperCenterOmOssText > h2{
    color: #1c4966;
    font-size: 2.2em; 
 }

 #leftSideunderWrapperCenterOmOssText > p{
    color: #1c4966;
    font-size: 1.3em;
    line-height: 1.4em;  
 }

 #rightSideunderWrapperCenterOmOssText{
    display: inline-block;
    width: 90%;
    height: auto;
    padding: 4%;
   
 }

 #rightSideunderWrapperCenterOmOssText > h2{
    color: white;
    font-size: 2.2em;
   
 }

 #rightSideunderWrapperCenterOmOssText > p{
    color: white;
    font-size: 1.3em;
    line-height: 1.4em;
   
 }

#omOssUnderWrapperUpperSharpRightEdge{
width: 100%;
height: 2%;
background-color: #1c4966;
}

#omOssUnderWrapperSharpRightEdge{
    float: left;
    width: 2%;
    height: 98%;
    background-color: #1c4966;
    }

#omOssUnderWrapperUpperSharpLeftEdge{
    width: 100%;
    height: 2%;
    background-color: rgb(224, 222, 217);
    }

    #omOssUnderWrapperSharpLeftEdge{
        float: right;
        width: 2%;
        height: 98%;
        background-color: rgb(224, 222, 217);
        }
    
/* Person site*/

#headertextForPerson{
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: flex-start;
    margin-left: 0;
    color: white;
    font-size: 1.3em;
}


@media (min-width: 700px) {
    /*  2 stycken kvadrater på samma "row"   */
    .rectangles 
    { 
        grid-template-columns: repeat(2, 1fr); 
    }
    
    .rectangles-omoss{
        grid-template-columns: repeat(1, 1fr); 
    }

    .rectangles-personligaSidan{
        grid-template-columns: repeat(1, 1fr); 
    }

    .rectangles-kontakt{
        grid-template-columns: repeat(1, 1fr); 
    }

}

@media (min-width: 1100px) 
{
    .rectangles-personligaSidan{
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (min-width: 1300px) 
{
    /*  3 stycken kvadrater på samma "row" */
    .rectangles 
    { 
        grid-template-columns: repeat(3, 1fr); 
    }

    .rectangles-omoss{
        grid-template-columns: repeat(2, 1fr); 
    }

    .rectangles-personligaSidan{
        grid-template-columns: repeat(3, 1fr); 
    }
    .rectangles-kontakt{
        grid-template-columns: repeat(2, 1fr); 
    }
}

/* mobil? */
@media screen and (min-width: 768px)
{
    header{
        height: 50%;
    }
}
@media screen and (max-width: 1300px)
{
    #iframeContainer{
        height: 50vh;
    }
}

@media screen and (max-width: 768px)
{
    #mainOmOss{
        position: relative;
        top: 4%;
        width: 100%;
        
    }

    .boxShadow3{
        -webkit-box-shadow: 2px 4px 24px -4px rgba(255, 255, 255, 0.75);
        -moz-box-shadow: 2px 4px 24px -4px rgba(255, 255, 255, 0.75);
        box-shadow: 2px 4px 24px -4px rgba(255, 255, 255, 0.75);
    }

    #omOssHeading{
        width: 70%;
        font-size: 1.4em;
        position: relative;
        top: 50%;
        text-align: center;
        display: inline-block;
        color: white;
    }

    #rightImgOmOss{
        order:2;
    }

    #leftImgOmOss{
        order:4;
    }

    #leftTextOmOss{
        order:3
    }

    #rightTextOmOss{
        order:1
    }

    .rectangle-grid-omoss1{
        
        margin-top: 20%;
    }

    #portfolioMain{
        width: 90%;
        margin-top: 2%;
        height: 40vh;
        background-color: steelblue;
        font-weight: normal;
        padding: 2%;
        font-size: 0.8em;
        color: rgb(224, 227, 231);
        margin-bottom: 8%;
        position: relative;
        top: 6%;
    }

    #headertextForPortfolio{
        width: 70%;
        font-size: 1.4em;
        position: relative;
        top: 50%;
        text-align: center;
        display: inline-block;
        color: white;
    }

    #finishedProjects{

        width: 60%;
        position: relative;
        top:10%;
     
    }

    #finishedProjects > h2{
     font-size: 1.2em;
     margin-bottom: 50%;
    }

    #wrapperForFinishedProjects{
        gap: 4%;
    }
    .rectangle-grid-portfolio{
        margin-left: auto;
        margin-right: auto;
    }

    #wrapperForNotFinishedProjects{
        margin-top: 80%;
    }

    #notFinishedProjects {
        position: relative;
        top: 33%;
       }
    
       .layerForProjects{
           display: block;
           position: absolute;
           background-color: rgb(84, 84, 126);
         
           top: 0;
           left: 0;
           width: 100%;
           height: 100%;
          
       }
       .rectangle-grid-portfolio{
           position: relative;
       }
      
      #formContainer{
          width: 100%;
          margin-top: 20%;
          background-color: rgb(142, 192, 233);
      }
    
      .redBorder{
          width: 90%;
      }

      .regularFormBorder{
        width: 90%;
        height: 2em;
    }

    .regularFormTextareaWithBorder{
        width: 90%;
        height: 12em;
    }
    #iframeContainer
    {
        height: 90vh;
        margin-bottom: 0;
    }

    .redBorderForTextarea{
        width: 90%;
        height: 12em;
    }

    #mainOmOss{
        margin-bottom: 0%;

    }
   
    #headertextForKontakt{
        width: 70%;
        font-size: 1.4em;
        position: relative;
        top: 50%;
        text-align: center;
        display: inline-block;
        color: white;
    }

    #mainOmOssContact{
        width: 90%;
        margin-top: 2%;
        height: 40vh;
        background-color: steelblue;
        font-weight: normal;
        padding: 2%;
        font-size: 0.8em;
        color: rgb(224, 227, 231);
        margin-bottom: 8%;
        position: relative;
        top: 6%;
    }
    
    #mainOmOssContact > h2 >span {
        font-weight: bold;
        color:rgb(16, 76, 206);
    }


    #mainOmOssContact{
        -webkit-box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);
        box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);
        border-radius: 10px;
        
    }

    #formButton{
        width:auto;
    }

    .rectangle-grid-omoss2{
        margin-top: 0;  
    }

    .rectangle-grid-omoss1{
        margin-top: 5%;
    }
    
#finishedProjects{
    text-align: center;
    width: 100%;
    margin-left: 0;
}
#finishedProjects > h2{
    margin-bottom: 30%;
}

#notFinishedProjects{
    text-align: center;
    width: 100%;
    margin-left: 0;
}

.rectangles-kontakt{
    margin-bottom: 0; 
}



#headertextForPerson{
    display: flex;
    position: relative;
    right: 6%;

}
}
   /*tilted screen*/
@media (max-height: 400px) and (max-width: 900px){

     #mainOmOss{
        width: 100%;
        position: static;
    }

    .menu{
        margin-right: 13%;
        z-index: 1;
    }
    #omOssHeading{
        font-size: 1.4em;
        position: relative;
        top: 29%;
        margin-left: 4%;
    }

    #portfolioMain{
        position: static;
        width:90%;
    }

    #headertextForPortfolio{
        font-size: 1.4em;
        position: relative;
        top: 29%;
        margin-left: 4%;
    }

    
    #omOssHeading{
        font-size: 1.4em;
        position: relative;
        top: 29%;
        margin-left: 4%;
    }


    #mainOmOssContact{
        position: static;
        width:90%;
    }

    #headertextForKontakt{
        font-size: 1.4em;
        position: relative;
        top: 29%;
        margin-left: 4%;
    }

    #iframeContainer{
        height: 90vh;
    }
    .redBorder{
        width: 90%;
        height: 4em;
    }

    .regularFormBorder{
        width: 90%;
        height: 4em;
    }

    .regularFormTextareaWithBorder{
        width: 90%;
    } 

    #headertextForPerson{
        display: inline-block;
        position: static;
    }
}

