header{
    display:none;
    height: 100%;
}

#imgStartsida{
    width:20%;
    height: min-content;
}

nav{
    margin-right: 10%;
    margin-bottom: 10%;
}

nav ul {
    font-size: 3.5em;
    font-weight: bold;
    list-style: none;
   
}
nav ul li a{
 
    padding-top: 4%;
    color: white;
   
}

nav ul li a:hover{
 
    text-decoration: underline;

   
}

.textAreaIndex{
    color: #0fa6ec;
    text-align: center;
}

#innerMain{
    padding-bottom: 15%;
    width: 80%;
    min-height: 70vh;
    background-color: rgb(255, 255, 255);
    z-index: 999999;
    position: relative;
    bottom: 10%;
}

#main{
    background-color: rgba(235, 229, 229, 0.966);
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

#indexBackgroundImage{
    width: 100%;
    height:100%;
    background-image: url("backgroundIndex.jpg");
    background-repeat: no-repeat; 
}


#headerForMain{

margin-top:18%;
margin-left: 20%;
font-size: 3.5em;
font-weight: bold;
width: 50%;
color: white;
}


#textForMain{
    margin-top:2%;
    margin-left: 20%;
    font-size: 1.4em;
    width: 100%;
    height: auto;
    color: white;
       
    }

.textAreaIndex{
    height: auto;
  font-size: 2.1em;
    margin-top: 4%;
} 

.rectangle-grid-startsida{
    border-left: 6px dotted rgb(26, 21, 21);
    border-right: 6px dotted rgb(26, 21, 21);
}

#nextImg{
    width: 8vh;
    height: 8vh;
    margin-right: 5%;
    float: right;
}

#pausBtn{
    width: 8vh;
    height: 8vh;
}

#prevImg{
    width: 8vh;
    height: 8vh;
    margin-left: 5%;
    float: left;
}

.imageSliderBox
{
    width :80%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 10px;
    text-align: center;

}

#imgSlider
{
    border-style:solid ;
    border-color: black;
    width: 100%;
    height: 60vh;
    border-radius: 10px;
}

#imgSliderControlPnl{
    width: 100%;
    background-color: black;
    height: 12vh;
}

img {
    height: auto;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 100%;
}

#backgroundMainLeft{
    height: 90%;
    float: left; 
    margin-top: 5%;
    width: 40%; 

}        

#backgroundMainRight{
    height: 100%;
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 60%;
}   

@media screen and (max-width: 1000px)
{
    #nextImg{
        width: 15%;
    }

    #prevImg{
        width: 15%;
    }
    
    #pausBtn{
        width: 15%;
    }
   
}

@media screen and (max-width: 1200px) 
{
    #innerMain
    {
        width: 100%;
    }

    #main{
        height: min-content;
    }

}

@media screen and (max-width: 768px)
{

    #imgSlider
    {
        height: 50vw;
        margin-left: 0;
    }

    #imgSliderControlPnl{
        margin-left: 0;
    }

    
    .imageSliderBox{
        width: auto;
        height: auto;
    }

    header{
        display:block;
        height: 10%;
        background-color: transparent;
        text-align: center;
        margin-bottom:0 ;
    }

    #headerForMain{
        width: 100%;
        font-size: 1.8em;
        margin-top: 20vh;
        margin-left: 0;
        text-align: center;
       
    }

    #textForMain{
        font-size: 0.8em;
        width: 100%;
        margin-top: 4%;
        margin-left: 0;
        text-align: center;
    }

    #backgroundMainRight{
        display: none;
    }

    #backgroundMainLeft{
        width: 100%;
    }

    #indexBackgroundImage{
        position: relative;
        top:-10%;
        height: 60vh;
    }



}

    
@media (max-height: 400px) and (max-width: 900px){

    #backgroundMainRight{
       align-items: flex-start;
    }
    #backgroundMainLeft{
        margin-top: 0;
     }
     
}


