header{
    display:none;
    height: 100%;
}

#backgroundMainRight{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 60%;
  
}

#backgroundMainLeft{
    margin-top: 5%;
    width: 40%;
  
}

#imgStartsida{
    width:20%;
    height: min-content;
}

nav{
    margin-right: 10%;
    margin-bottom: 10%;
}

nav ul {
    font-size: 3.5em;
    font-weight: bold;
    list-style: none;
   
}
nav ul li a{
 
    padding-top: 4%;
    color: white;
   
}

nav ul li a:hover{
 
    text-decoration: underline;

   
}

#innerMain{
    border-radius: 1%;
    padding-bottom: 15%;
    width: 80%;
    min-height: 70vh;
    background-color: rgb(255, 255, 255);
    z-index: 999999;
    position: relative;
    bottom: 10%;
}

#main{
    background-color: rgba(235, 229, 229, 0.966);
}

#indexBackgroundImage{
    width: 100%;
    height:100%;
    background-image: url("backgroundIndex.jpg");
    background-repeat: no-repeat; 
}


#headerForMain{

margin-top:18%;
margin-left: 20%;
font-size: 3.5em;
font-weight: bold;
}


#textForMain{
    margin-top:2%;
    margin-left: 20%;
    font-size: 1.4em;
   
    }

.textAreaIndex{
    height: auto;
  font-size: 2.1em;
    margin-top: 4%;
} 

.rectangle-grid-startsida{
    border-left: 6px, dotted, rgb(26, 21, 21);
    border-right: 6px, dotted, rgb(26, 21, 21);
}

#nextImg{
    width: 8vh;
    height: 8vh;
    margin-right: 5%;
    float: right;
}

#pausBtn{
    width: 8vh;
    height: 8vh;
}

#prevImg{
    width: 8vh;
    height: 8vh;
    margin-left: 5%;
    float: left;
}

.imageSliderBox
{
    width :70%;
    border-radius: 10px;
    /* background-color: black; */
    text-align: center;
}

#imgSlider
{
    border-style:solid ;
    border-color: black;
    margin-left: 20%;
    width: 100%; height: 60vh;
    border-radius: 10px;
}

#imgSliderControlPnl{
    width: 100%;
    background-color: black;
    margin-left: 20.2%;
    height: 12vh;
}

@media screen and (max-width: 1000px)
{
    #nextImg{
        width: 15%;
    }

    #prevImg{
        width: 15%;
    }
    
    #pausBtn{
        width: 15%;
    }
}

@media screen and (max-width: 600px)
{
    #innerMain
    {
        width: 100%;
    }

    #imgSlider
    {
        height: 50vw;
        margin-left: 0;
    }

    #imgSliderControlPnl{
        margin-left: 0;
    }

    
    .imageSliderBox{
        width: 100%;
        height: 100%;
    }
}
