html, body
{
    /* Välj en font. */
    font-family: Arial;
    /* Gör så att det inte finns något avstånd till hemsidans topp.*/
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
   
}


figure{
    margin: 0;
}

section{
    margin: 0;
}

h1{
   margin: 0; 
}

#rightContentForUs{
    float:left;
    width: 50%;
    height: auto;
    margin-top: 1%;
}


/* Denna div placeras under bilden så man kan sätta in text. */
.textAreaIMG-Omoss{
    font-family: cursive;
    color:black;
    margin-top: 2%;
    text-align: left;
    padding: 2% 0;
    border-radius: 5px;
    background-color: white;
    text-align: center;
}

.textAreaIMG-Portfolio{
    position: relative;
    text-align: center;
}

canvas {
    width: 90%;
    min-height: 200px;
    border: solid 2px red;
}

.imageContainer{
    width: 50%;
    height: auto;
    float:left;
}

.imgStartsida{
    border-radius: 10%;
    align-items: center;
    width: 60%;
    height: 60%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    float:top;
}

#startSidaOmOssContainer{
    text-align: center;
    width: 80%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 0.2em;
    margin-bottom: 10%;
}

#startSidaPortContainer{
    text-align: center;
    width: 80%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 0.2em;
    margin-bottom: 10%;
}

#startSidaKontaktContainer{
    text-align: center;
    width: 80%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 0.2em;
    margin-bottom: 10%;
}


#headerForMain{
    position: relative;
    
    width: 100%;
    height: auto;
    font-size: 5.5em;
    color: white;
    margin-left: 15%;
    margin-top: 10%;
    margin-bottom: 2%;
    }


 
#textForMain{
    
    width: 100%;
    height: auto;
    font-size: 3.5em;
    color: white;
    margin-left: 15%;
    margin-top: 2%;
    }   

   
#formContainer{
    border-radius: 0.2em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    background-color: rgb(188, 214, 248);
    margin-top: 1%;  
}

#mainContact{
    margin-bottom: 0;
    width: 100%;
    height: 100%;
}

#formContainer h1{ 
    color: white;
    margin-left: 20px;
}

#formContainer  p{
    color: black;
    margin-left: 20px;
}

#fieldsetKontaktuppgifter{
    border-style: none;
    text-align: start;
}

.inputContainer{
    margin-top: 20px;
    margin-bottom: 20px;
}

textarea{
    width: 40%;
    height: 12em;
}

#formButton{
    width: 30%;
    height: 3.5em;
    margin-left: 15px;
    margin-bottom: 25px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
   
}

.inputForContact{
    width: 40%;
    height: 2em;
}

label{
    font-weight:bold;
    color: #1c4966;
}

.redLabel{
    color: red;
}

.redBorder{
    border-style: solid;
    border-color: red;
    border-width: 2px;
    border-radius: 0.2em;
    width: 40%;
    height: 2em;
}

.redBorderForTextarea{
    border-style: solid;
    border-color: red;
    border-width: 2px;
    border-radius: 0.2em;
    width: 80%;
    height: 10em;
}

#firstNameInfo, #lastNameInfo, #mailInfo, #phoneNumberInfo, #commentInfo{
    font-size: 0.7em;
}

.ready{
    background-color: #1c4966;
}

.notReady{
    background-color:  #344652;
}

#mainContact{
    
    width:100%;
    height: 100%;
}

#iframeContainer{
    height: 90vh;
    width: 100%;
    float: left;
}

iframe{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 100%;
}

.iframeVideo{
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 50%;
}


#indexBackgroundImage{
    width: 100%;
    height:100%;
    background-image: url("backgroundIndex.jpg");
    background-repeat: no-repeat;
    
    
}


@media screen and (min-width: 600px)




{


    #visitUs{
        font-size: 2.8em;
        color: teal;
        border-radius: 2%;
        margin-left: 15%;
    }

    h1{
        margin: 0; 
     }



    #indexBackgroundImage{
        width: 100%;
        height:90%;
        background-image: url("backgroundIndex.jpg");
        background-repeat: no-repeat;
    }

    #iframeContainer{
        height: 90%;
        margin-right: auto;
        margin-left: auto;
        background-color: white;
        border-radius: 0.2em;
        width: 90%;
    }

    .imageContainer{
        float: left;
    }

    .bildIstartSidoContainer{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
    }
    
    #main{
        display: flex;
        height: 100vh;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        }

    #startSidaOmOssContainer{
        float: left;
        width: 25%;
        height: min-content;
        margin-left: 2%;
        margin-right: 2%;
    }

    #startSidaPortContainer{
        float: left;
        width: 25%;
        height: min-content;
        margin-left: 2%;
        margin-right: 2%;     
    }

    #startSidaKontaktContainer{
        float: left;
        width: 25%;
        height: min-content;
        margin-left: 2%;
        margin-right: 2%;
    }
    
    #formContainer{
        border-radius: 0.2em;
        height: 76%;
        margin-left: 2.5%;
        width: 40%;
        background-color: rgb(200, 214, 233);
        float: left;
        padding: 2%;   
    }

    #iframeContainer{
        float:right;
        height: 99%;
        background-color: white;
        border-radius: 0.2em;
        width: 49.5%;
        
    }
    
    #formContainer h1{
        color:  #1c4966;
        margin-left: 20px;
    }
    
    .regulareTextForInput{
        color: black; 
        font-weight: bold;
    }
    
    #fieldsetKontaktuppgifter{
        border-style: none;
        text-align: start;
    }
    
    .inputContainer{
        margin-top: 20px;
        margin-bottom: 20px; 
        

    }
    
    textarea{
        width: 80%;
        height: 8.5em;
        
    }
    
    #formButton{
        width: 30%;
        height: 3.5em;
        margin-left: 15px;
        margin-bottom: 25px;
    }

    .regularFormBorder{
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 2px;
        border-radius: 0.2em;
        width: 70%;
        height: 3em;
    }

    .regularFormTextareaWithBorder{
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 2px;
        border-radius: 0.2em;
        width: 70%;
        height: 12em;
    }
    
    #contactFormHeader{
        margin: 0;
    }

}

#yttre_div {
    display: table;
    margin: 0 auto;
}
  
#inre_div {
    width:100%
}

.imageSliderBox
{
    width :70%;
    height : 70%;
    border-radius: 10px;
    /* background-color: black; */
    text-align: center;
    margin-bottom: 10%;
}

.rectangle-grid-startsida {
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 5%;
    height: 20rem;
    border-radius: 9px;
    justify-content: center;
  }

  .rectangle-grid-portfolio{
    background-color: rgb(11, 111, 192);
    color: white;
    padding: 3%;
    height: 95%;
    width: 90%;
    border-radius: 9px;
    justify-content: center;
  }

  .rectangle-grid-omoss{
    background-color: rgb(164, 236, 206);
    color: white;
    padding: 1%;
    width: 100%;
    border-radius: 9px;
    justify-content: center;
    margin-top: 10%;
  }

    .rectangle-grid-omoss:hover{
        transform: scale(1.005);
    }

    .rectangle-grid-startsida:hover{
        transform: scale(1.01);
    }

    .rectangle-grid-portfolio:hover{
        transform: scale(1.01);
    }
  
  .rectangles {
    max-width: 1800px;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
  }

  .rectangles-omoss{
    max-width: 1500px;
    margin: 60px auto;
    display: grid;
    grid-gap: 6rem;
  }

#h1portfolio{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
}

.boxShadow 
{
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

.boxShadow2
{
    -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
    width: 280px;
    height: 500px;
}

.boxShadow3
{
    -webkit-box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 24px -4px rgba(0,0,0,0.75);
    border-radius: 10px;
}
/* Denna div placeras under bilden så man kan sätta in text. */

/* Denna div centrerar allt innehåll till mitten av skärmen. */
.center{
    width: 100%;
    height: auto;
}

.imageContainer{
    height: auto;
    width: auto;
    padding: 2.9em;
}

.imageContainer:hover{
    overflow: hidden
}

img
{
    height: auto;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 90%;
}


/* Denna tag ska användas ifall man vill centrera bild i en så kallad grid box. Den  */
.img2{
    border-radius: 50%;
    align-items: center;
    height:80%;
    width: 80%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    float:top;
    
    margin-top: 0;
}


.img4{
    align-items: center;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    float:top;
    border-radius: 6px;
    
}

.fadedBackground
{
    background: linear-gradient(to right, #6fcef3, #0fa6ec);
}

.circle{
    background-color: gray;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    padding: 10px 5px 0 5px;
}



   
    #headerForMain{
        display: none;
        width: 50%;
        height: auto;
        font-size: 2.5em;
        color: white;
        margin-left: 15%;
        margin-top: 10%;
        margin-bottom: 2%;
        margin-right: 0;
        }
    
    
     
    #textForMain{
        display: none;
        width: 100%;
        height: auto;
        font-size: 1.1em;
        color: white;
        margin-left: 15%;
        margin-top: 2%;
        }        

    #backgroundMainLeft{
        height: 90%;
        width: 30%;
        float: left;
        color: white;
        margin-top: 0; 
       
    }        

    #backgroundMainRight{
        height: 100%;
        width: 70%;
        float: right;
      
        
    }    

    .textAreaIndex{
        color: black;
        text-align: center;
    }
    
   #nextImg{
       width: 5%;
       margin-right: 5%;
       float: right;
   }

   #pausBtn{
    width: 5%; 
   }

   #prevImg{
       width: 5%;
       margin-left: 5%;
       float: left;
   }

   #imgSlider
   {
        border-style:solid ;
        border-color: black;
        margin-left: 20%;
        width: 100%; height: 30vw;
        border-radius: 10px;

   }

   #imgSliderControlPnl{
       width: 100%;
       height: 15%;
       background-color: black;
       margin-left: 20.2%;
 
   }

   #rightContactInfo{
       width: 50.1%;
       height: 90%;
       background-color: rgba(223, 230, 230, 0.678);
       float: right;
       margin-top: 0;
       border-left: 1.2em solid rgb(188, 214, 248);
       
   }
   
   #leftContactInfo{
    width: 49%;
    height: 100%;
    background-color: rgba(223, 230, 230, 0.678);
    float: left;
    margin-top: 0;
    border-right: 1.2em solid rgb(188, 214, 248);
    clear: left;
    
    
}


   #subHeadingContact{
       display: none;
       font-size: 4.5em;
       font-weight: bolder;
       color: rgb(98, 149, 214);
       margin-left: 14%;
       margin-top: 6%;
   }

   #subHeadingContact2{
    display: none;
    font-size: 4.5em;
    font-weight: bolder;
    color: rgb(98, 149, 214);
    margin-left: 14%;
    margin-top: 6%;
}

#portfolioBackground{
    width: 100%;
    height: 20%;
    background-image: url("BakgrundPortfolio.jpg");
    background-repeat: no-repeat;
}

#headertextForPortfolio{
        width: 50%;
        height: auto;
        font-size: 2.5em;
        color: white;
        margin-left: 2%;
        margin-top: 5%;
        margin-bottom: 2%;
        margin-right: 0;

}

#headertextForPortfolio{
    width: 50%;
    height: auto;
    font-size: 2.5em;
    color: white;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-right: 0;
    text-align: left;

}#subtextForPortfolio{
    width: 50%;
    height: auto;
    font-size: 1.5em;
    color: white;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 2%;
    text-align: left;

}

#sortingVisualizer{
    background-image: url(sortingvisualizer.PNG);
    background-size: cover;
    background-repeat: no-repeat;
}

.rectangle-grid-portfolio:hover{
    background-color: teal;
}

.headingForIndividualProject{
    display: none;
    font-size: 1.6em;
    font-weight: bold;
    color: white;

}

.subHeadingForIndividualProject{
    display: none;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
}

.descriptionForIndividualProject{
    display: none;
    font-size: 1.2em;
    color: white;
}

/* Portfolio sidan. */
@media (min-width: 700px) {
    /*  2 stycken kvadrater på samma "row"   */
    .rectangles 
    { 
        grid-template-columns: repeat(2, 1fr); 
    }
    
    .rectangles-omoss{
        grid-template-columns: repeat(1, 1fr); 
    }
}

@media (min-width: 1000px) 
{
    /*  3 stycken kvadrater på samma "row" */
    .rectangles 
    { 
        grid-template-columns: repeat(3, 1fr); 
    }

    .rectangles-omoss{
        grid-template-columns: repeat(2, 1fr); 
    }
}
