header
{
    width: 100%;
    background-color: rgba(173, 169, 197, 0.87);
    text-align: center;
    display: inline-block;
    overflow:hidden;
}

/* Placera allt inom denna tag till höger med 20px offset. */
.header-right 
{
    float:right;
    margin:0 20px 0 0;
}

/* Varje knapp är en attribute, denna del ställer in hur alla knappar ska se ut. */
nav a{
    background-color: #f44336;
    color: white;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
}


a{
   text-decoration: none;
  
}

/* När fönstret är mindre än 761 pixlar så övergår listan med knappar till en så kallad "hamburger menu". Detta för att underlätta navigation */
.hamburger{
    float: right;
    font-size: 40px;
    display: none;
    margin: 0 15px 0 0;
}

/* Detta är självaste loggan, denna ska ha andra egenskaper än de andra knapparna. Den ska placeras till vänster.*/
a.logo
{
    float:left;
    margin:0 0 0 20px;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
    margin-top: 12px;

}

/* Om man sätter musen över knappen så ändrar den färg. */
a:hover{
    background-color: dodgerblue;
    color: white;
}

/* Ändra bakgrund om man placerar musen över. */
a.logo:hover
{
    background-color: #ddd;
    color: black;
}

/* Inställningarna för listan med knappar. */
nav ul li
{
    background-color: #ac6b66;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 6px;
}

/* Responsiv design kan implementeras med en media query. */
/* WIDTH */
@media screen and (max-width: 817px) {
    header
    {
        height: 20vh;
    }
    
    .hamburger{
        display: block;
        
        margin: 10px 100px 0 0;
    }

    nav ul li
    {
        display: none;
    }

    a.logo
    {
        font-size: 15px;
    }
}

@media screen and (max-width: 380px) {
    .logo
    {
        font-size: 10px;
        background-color: red;
    }
}

/* HEIGHT */

@media screen and (max-height: 670px) {
    header
    {
        height: 17vh;
    }
}

@media screen and (min-height: 671px) {
    header
    {
        height: 10vh;
    }
}

