html, body
{
    /* Välj en font. */
    font-family: Arial;
    /* Gör så att det inte finns något avstånd till hemsidans topp.*/
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

figure{
    margin: 0;
}


section{
    margin: 0;
}

/*  */
.boxShadow 
{
    -webkit-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5);
}

/* Denna div placeras under bilden så man kan sätta in text. */
.textAreaIMG {
  text-align: center;
  padding: 10px 20px;
}

/* Denna div centrerar allt innehåll till mitten av skärmen. */
.center{
    text-align: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imageContainer{
    height: auto;
    width: auto;
    padding: 2.9em;
}

.imageContainer:hover{
    overflow: hidden
}

img{
    height: auto;
    padding: 0;
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 90%;
}


#startSidaOmOssContainer{
    text-align: center;
    width: 80%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 0.2em;
    margin-bottom: 10%;
}

#startSidaPortContainer{
    text-align: center;
    width: 80%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 0.2em;
    margin-bottom: 10%;
}


#startSidaKontaktContainer{
    text-align: center;
    width: 80%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 0.2em;
    margin-bottom: 10%;
}

.bildIstartSidoContainer{
    width: 70%;
    height: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}



#headerForMain{
width: 100%;
height: auto;


}

#headerForMain {
    font-size: 1.5em;
    text-align: center;
    text-shadow: 2px 2px rgb(66, 62, 62);
    letter-spacing: 0.02em;
    
    
    }


    

#formContainer{

    border-radius: 0.2em;
    height: 90vh;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: rgba(173, 169, 197, 0.87);
    
}


#formContainer h1{
    
    color: white;
    text-shadow: black 2px 2px;
    margin-left: 20px;
   
}


#formContainer  p{
    
    color: black;
    
    margin-left: 20px;

    
   
}

#fieldsetKontaktuppgifter{
    border-style: none;
    text-align: start;
}

.inputContainer{
    margin-top: 20px;
    margin-bottom: 20px;
    
    
}

textarea{
    width: 70%;
    height: 12em;
}

#formButton{
    width: 70%;
    height: 3em;
    margin-left: 15px;
    margin-bottom: 25px;
}

.inputForContact{
    width: 70%;
    height: 2em;
}

@media screen and (min-width: 768px)
{
    .imageContainer{
        float: left;
    }

    .smallContainer{
        height: 90%;
    }

    .bildIstartSidoContainer{
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
    }

    
    #main{
        display: flex;
        height: 80vh;
        width: 100%;
        
        flex-direction: row;
    justify-content: center;

    margin-top: 20vh;


    }

    #startSidaOmOssContainer{
       
        float: left;
       
        width: 25%;
        height: min-content;
        margin-left: 2%;
        margin-right: 2%;

       

    }

    #startSidaPortContainer{
        
        float: left;
        width: 25%;
        height: min-content;
        margin-left: 2%;
        margin-right: 2%;
       
       
    }

    #startSidaKontaktContainer{
        
        float: left;
        width: 25%;
        height: min-content;
        margin-left: 2%;
        margin-right: 2%;
    
     
    }

    
    iframe{
        float: left;
    }





    #formContainer{

        border-radius: 0.2em;
        height: 70vh;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        background-color: rgba(173, 169, 197, 0.87);
        float: left;
        margin-top: 2em;
        
    }
    
    
    #formContainer h1{
        
        color: white;
        text-shadow: black 2px 2px;
        margin-left: 20px;
       
    }
    
    
    #formContainer  p{
        
        color: black;
        
        margin-left: 20px;
    
        
       
    }
    
    #fieldsetKontaktuppgifter{
        border-style: none;
        text-align: start;
    }
    
    .inputContainer{
        margin-top: 20px;
        margin-bottom: 20px;
        
        
    }
    
    textarea{
        width: 20%;
        height: 12em;
    }
    
    #formButton{
        width: 20%;
        height: 3em;
        margin-left: 15px;
        margin-bottom: 25px;
    }
    
    .inputForContact{
        width: 20%;
        height: 2em;
    }



  
}
